<?xml version="1.0"?>
<model>
  <name>cave_world</name>
  <version>1.0</version>
  <sdf version="1.9">model.sdf</sdf>
  <author>
    <name>Anton Koval, Christoforos Kanellakis, Emil Vidmark, Jakub Haluska, George Nikolakopoulos</name>
    <email>Control Engineering Group, Lulea University of Technology</email>
  </author>
  <description>
    Vendored, unmodified cave mesh from https://github.com/LTU-RAI/gazebo_cave_world (MIT).
    Cite: "A Subterranean Virtual Cave World for Gazebo based on the DARPA SubT Challenge",
    arXiv:2004.08452. Re-wrapped here as a Gazebo Harmonic SDF 1.9 static model; the mesh
    itself is unmodified. Not authored by this project.
  </description>
</model>
